body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.questions-container {
	/* border: 1px solid red; */
	padding: 1px;
	max-width: fit-content;
}
.question-link {
	list-style: none;
	text-indent: 0;
	/* border: 1px solid red; */
	margin: 0;
}

.question-link a {
	text-decoration: none;
	color: black;
	/* border: 1px solid red; */
}
